body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #6d6d8d;
}

header {
    text-align: center;
    padding: 2rem 0;
}

section {
    background: rgb(92, 77, 77);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(6, 111, 128, 0.1);
}

h1, h2 { color: #00ab9a; }
footer { text-align: center; margin-top: 40px; }